@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #FFFBF4;
  --foreground: #3b3b3b;
  --font-baloo2: 'Baloo 2', Arial, Helvetica, sans-serif;
  --font-bungee: 'Bungee', Arial, Helvetica, sans-serif;
  --card-background: #ffffff;
  --orange-red: #F5542E;
  --check-blue: #1574B3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-baloo2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-baloo2);
  font-size: 16px;
}
/* Logo 'POKE' */
h1 {
  font-family:  var(--font-bungee);
  font-weight: 400;
  color: var(--orange-red);
  text-transform: uppercase;
}
h1 span {
  color: var(--check-blue);
}

.input-container, .card {
  background: var(--card-background);
}

.container {
  @media (width >= 1024px) {
      max-width: 1024px;
  }
}

@layer base {
  body {
    @apply px-4;
  }
  h2 {
    @apply text-3xl sm:text-5xl font-semibold
  }
  h3 {
    @apply sm:text-2xl font-semibold
  }
  .input-container, .card {
    @apply shadow-lg rounded-lg p-4 border border-gray-300;
  }
  .container {
    @apply max-w-7xl mx-auto md:max-w-5xl;
  }
  .pokemon-details {
    @apply mt-2 sm:mt-4 flex flex-col lg:flex-row justify-between gap-x-14 capitalize
  }
  .pokemon-details h3 {
    @apply text-lg sm:text-xl font-normal
  }
  .pokemon-details span {
    @apply inline-block w-[80px]
  }
  .pokemon-details strong {
    @apply text-lg sm:text-xl pl-2 font-normal
  }
  .pokemon-property {
    @apply mt-2
  }
}

