@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #FFFBF4;
  --foreground: #3b3b3b;
  --font-baloo2: 'Baloo 2', Arial, Helvetica, sans-serif;
  --font-bungee: 'Bungee', Arial, Helvetica, sans-serif;
  --card-background: #ffffff;
  --red: #F5542E;
  --blue: #1574B3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-baloo2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-baloo2);
  font-size: 16px;
}
/* Logo 'POKE' */
h1 {
  font-family:  var(--font-bungee);
  font-weight: 400;
  color: var(--red);
  text-transform: uppercase;
}
h1 span {
  color: var(--blue);
}

.input-container, .card {
  background: var(--card-background);
}

@layer base {
  body {
    @apply px-4;
  }
  h2 {
    @apply text-4xl sm:text-5xl font-semibold
  }
  h3 {
    @apply text-2xl font-semibold
  }
  .input-container, .card {
    @apply shadow-lg rounded-lg p-4 border border-gray-300;
  }
}

